/* Responsive media queries */

$break-small: 320px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}
/*
  .profile-pic {
    float: left;
    width: 250px;
    @include respond-to(handhelds) { width: 100% ;}
    @include respond-to(medium-screens) { width: 125px; }
    @include respond-to(wide-screens) { float: none; }
  }
*/

/* Here we go */

$back-color: #f0f8ff;

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  
  .app {
    align-items: center;
    background: $back-color;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    height: 100%;
  }
  .nav {
    flex: 0 0 57px;
    line-height: 56px;
    position: relative;
    width: 100%;
    z-index: 5;
    background-color: red;
  }
  .email-confirm {
    background-color: blue;
    flex: 0 0 57px;
    line-height: 56px;
    position: relative;
    width: 100%;
    z-index: 5;
  }
  .content {
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    position: relative;
  }
  .landing {
    width: 100%;
    white-space: pre-wrap;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .chat {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #ddd;
  }
  .left-pane { 
    //flex: 2 2 auto; 
    width: 100%;
    height: 100%;
    background-color: #fef;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .right-pane {
    //flex: 1 1 auto; 
    
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
    background-color: #eff;
    overflow: hidden;
  }
  
  @include respond-to(medium-screens) { 
    .chat {
      padding: 0;
    }
    .left-pane, .right-pane {
      display: none;
    }
    .left-pane.active{
      display: block;
    }
    
    .right-pane.active{
      display: flex;
    }
  }
  
  .chat-header {
    flex: 0 0 57px;
    line-height: 56px;
    position: relative;
    width: 100%;
    z-index: 5;
    background-color: #ffd;
  }
  .chat-body {
    width: 100%;
    white-space: pre-wrap;
    
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .chat-input {
    //position: relative;
    line-height: 40px;
    flex: 0 0 40px;
    width: 100%;
    z-index: 9;
    
    input {
      width: 100%;
    }
  }


/* No layout */
.nav span {
  cursor: pointer;
}

#back {
  display: none;
  
  @include respond-to(medium-screens) { 
    display: inline;
  }
}

/*
  <div class="app">
    <div class="nav">
      item 1 - item 2 - item3
    </div>
    <div class="email-confirm">
      Verify your email
    </div>
    <div class="content">
      <div class="landing">
      </div>
      <div class="chat">
        <div class="leftpane">
        </div>
        <div class="rightpane">
          <div class="chat-header">
            Selling Wonderful item
          </div>
          <div class="chat-body">
*/

}
